ArrowsFont RCDATA arrows.ttf
RobotoMono RCDATA RobotoMono.ttf
RobotoMonoBold RCDATA RobotoMonoBold.ttf
ProTrackerFont RCDATA ProTracker2.fon
ConsolasFont RCDATA consolas.ttf
ConsolasBFont RCDATA consolasb.ttf
ZXSpectrumFont RCDATA ZXSPECTRUM.TTF
DroidSansFont RCDATA DroidSansMono.ttf
HackFont RCDATA HackRegular.ttf
HackBFont RCDATA HackBold.ttf
LiberationFont RCDATA LiberationMonoRegular.ttf
LiberationBFont RCDATA LiberationMonoBold.ttf
ShareTechFont RCDATA ShareTechMono.ttf
SegoeVT RCDATA SegoeVT.ttf
EtelkaMono RCDATA EtelkaMonospace.ttf
EtelkaMonoBold RCDATA EtelkaMonospaceBold.ttf
CourierNew RCDATA couriernew.ttf
CourierNewB RCDATA couriernewb.ttf
CourierNewI RCDATA couriernewi.ttf
Kongtext RCDATA Kongtext.ttf
ProFontWindows RCDATA ProFontWindows.ttf
JackInput RCDATA JackInput.ttf
CQMono RCDATA CQMono.ttf
ConsolaMono RCDATA ConsolaMono.ttf
ConsolaMonoBold RCDATA ConsolaMonoBold.ttf
wstgerm RCDATA wstgerm.fon